[submodule "HyperMem"]
	path = HyperMem
	url = https://github.com/AshwinKM103/HyperMem.git
[submodule "MemOCR"]
	path = MemOCR
	url = https://github.com/AshwinKM103/MemOCR.git
[submodule "EM-LLM"]
	path = EM-LLM
	url = https://github.com/AshwinKM103/EM-LLM.git
[submodule "IterRet"]
	path = IterRet
	url = https://github.com/AshwinKM103/IterRet.git
